.bg-color-fire {
  background-color: rgb(238, 129, 48);
}

.bg-color-fire-30 {
  background-color: rgb(250, 217, 192);
}

.bg-color-normal {
  background-color: rgb(168, 167, 122);
}

.bg-color-normal-30 {
  background-color: rgb(229, 228, 215);
}

.bg-color-water {
  background-color: rgb(99, 144, 240);
}

.bg-color-water-30 {
  background-color: rgb(208, 221, 251);
}

.bg-color-electric {
  background-color: rgb(247, 208, 44);
}

.bg-color-electric-30 {
  background-color: rgb(253, 241, 191);
}

.bg-color-grass {
  background-color: rgb(122, 199, 76);
}

.bg-color-grass-30 {
  background-color: rgb(215, 238, 201);
}

.bg-color-ice {
  background-color: rgb(150, 217, 214);
}

.bg-color-ice-30 {
  background-color: rgb(223, 244, 243);
}

.bg-color-fighting {
  background-color: rgb(194, 46, 40);
}

.bg-color-fighting-30 {
  background-color: rgb(237, 192, 190);
}

.bg-color-poison {
  background-color: rgb(163, 62, 161);
}

.bg-color-poison-30 {
  background-color: rgb(227, 196, 227);
}

.bg-color-ground {
  background-color: rgb(226, 191, 101);
}

.bg-color-ground-30 {
  background-color: rgb(246, 236, 208);
}

.bg-color-flying {
  background-color: rgb(169, 143, 243);
}

.bg-color-flying-30 {
  background-color: rgb(229, 221, 252);
}

.bg-color-psychic {
  background-color: rgb(249, 85, 135);
}

.bg-color-psychic-30 {
  background-color: rgb(253, 203, 219);
}

.bg-color-bug {
  background-color: rgb(166, 185, 26);
}

.bg-color-bug-30 {
  background-color: rgb(228, 234, 185);
}

.bg-color-rock {
  background-color: rgb(182, 161, 54);
}

.bg-color-rock-30 {
  background-color: rgb(233, 227, 194);
}

.bg-color-ghost {
  background-color: rgb(115, 87, 151);
}

.bg-color-ghost-30 {
  background-color: rgb(213, 204, 224);
}

.bg-color-dragon {
  background-color: rgb(111, 53, 252);
}

.bg-color-dragon-30 {
  background-color: rgb(211, 194, 254);
}

.bg-color-dark {
  background-color: rgb(112, 87, 70);
}

.bg-color-dark-30 {
  background-color: rgb(212, 204, 199);
}

.bg-color-steel {
  background-color: rgb(183, 183, 206);
}

.bg-color-steel-30 {
  background-color: rgb(233, 233, 240);
}

.bg-color-fairy {
  background-color: rgb(214, 133, 173)
}

.bg-color-fairy-30 {
  background-color: rgb(243, 218, 230);
}